"*":
  Zen: {}
  "activate-power-mode":
    particles: {}
  "atom-beautify":
    general:
      _analyticsUserId: "3e77ce4e-b042-4909-af83-9d3b263c4684"
  "atom-lint": {}
  "atom-ternjs":
    snippetsFirst: true
  "atom-theme-toggle":
    darkSyntaxTheme: "base16-syntax"
    darkUiTheme: "one-dark-ui"
    lightSyntaxTheme: "base16-syntax"
  "autocomplete-plus": {}
  "autocomplete-python":
    useKite: false
  "base16-syntax":
    scheme: "Ocean"
    style: "Dark"
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "feedback"
      "atom-lint"
      "meteor-api"
      "meteor-snippets"
      "metrics"
      "linter-flow"
      "vim-mode"
      "atom-tachyons"
      "prettier-atom"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
      "node_modules"
      ".phpintel"
      "wire"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
      "env"
      ".env"
      "compiled_static"
      "build"
    ]
    projectHome: "/Users/mariuskueng/projects"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-syntax"
    ]
    useCustomTitleBar: true
  "django-templates": {}
  editor:
    backUpBeforeSaving: true
    fontFamily: "Input Mono"
    fontSize: 12
    invisibles: {}
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    tabType: "soft"
  "elm-format": {}
  elmjutsu:
    cacheDirectory: "/var/folders/hv/47qk1tv17hn54nd01q396v400000gn/T/elmjutsu250146jcs5dfr4HYU"
  emmet: {}
  esformatter: {}
  "exception-reporting":
    userId: "024a6720-1061-ac0d-8017-83378edf81eb"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  jshint:
    supportLintingJsx: true
  "keyboard-localization": {}
  "language-babel": {}
  linter:
    ignoredLinterErrors: [
      "pep8"
      "pyflakes"
      "pylint"
    ]
    subtleLinterErrors: [
      "scss-lint"
      "flake8"
    ]
  "linter-elm-make": {}
  "linter-eslint":
    useGlobalEslint: true
  "linter-flake8":
    ignoreErrorCodes: [
      "E501"
    ]
  "linter-jshint":
    executablePath: "/Users/mariuskueng/.nvm/versions/node/v6.4.0/bin/jshint"
  "linter-pylint": {}
  "linter-scss-lint":
    executablePath: "/usr/local/bin/scss-lint"
  "linter-ui-default":
    panelHeight: 49
    showPanel: true
  minimap: {}
  nuclide:
    "nuclide-home":
      showHome: false
  "one-dark-ui": {}
  "one-light-ui":
    layoutMode: "Compact"
  "prettier-atom":
    formatOnSave: true
    formatOnSaveOptions:
      enabled: true
    prettierOptions:
      singleQuote: true
      tabWidth: "4"
      trailingComma: "es5"
  react: {}
  "release-notes":
    viewedVersion: "0.95.0"
  script:
    stopOnRerun: true
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
    syncHorizontalScroll: true
  "symbols-view": {}
  tabs:
    usePreviewTabs: true
  "terminal-plus":
    ansiColors:
      normal:
        blue:
          alpha: 1
          blue: 205
          green: 73
          red: 0
    core: {}
    style:
      theme: "solid-colors"
  "tool-bar":
    position: "Left"
  "tree-view":
    focusOnReveal: false
  "tree-view-open-files": {}
  "vim-mode": {}
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 100
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".coffee.jsx.source":
  editor:
    preferredLineLength: 100
".haml.text":
  editor:
    preferredLineLength: 100
".hamlc.text":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
".languagebabel.ttlextension":
  editor:
    preferredLineLength: 100
