# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#

'.text.html':
  'Font Awesome':
    'prefix': 'fontawesome'
    'body': '<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">'
  'Google Fonts':
    'prefix': 'googlefonts'
    'body': '<link rel="stylesheet" href="//fonts.googleapis.com/css?family=$1">'
  'Bootstrap CSS':
    'prefix': 'bootstrapcss'
    'body': '<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">'
  'jQuery':
    'prefix': 'jquery'
    'body': '<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>'
  'Bootstrap JS':
    'prefix': 'bootstrapjs'
    'body': '<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>'
  'React':
    'prefix': 'react'
    'body': '<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.1/JSXTransformer.js"></script>\n<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react-with-addons.js"></script>'

'.source.scss':
    '&:hover, &:focus':
      'prefix': 'hover'
      'body': """
      &:hover,
      &:focus {
          $1
      }
      """
